@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

:root {
  --base-text-color: white;
  --hover-text-color: rgb(167, 164, 164);
  --second-color: #1b1d1f;

  --main-color: #006cff;
}
